<!-- <button class="Side" onclick="toggleSidebar()">☰</button> -->
<div class="sidebar d-flex flex-column justify-content-between" id="sidebar">
    <div>
        <div class="logo">
            <img src="hau.ico" alt="Logo">
        </div>
        <h2>Dashboard</h2>
        <a routerLink="/home">Home</a>
        <a routerLink="/dashboard/onboard">Onboarding</a>
        <a routerLink="/dashboard/offboard">Offboarding</a>
        <a routerLink="/dashboard/employee-info">Employee Information</a>
        <a routerLink="/dashboard/distribution">Employee Distribution</a>
        <a routerLink="/dashboard/evaluation">Evaluation</a>



        <div class="dropdown">
            <a>Analytics & Reports</a>
            <div class="dropdown-content">

                <a routerLink="/dashboard/onboarding-report">Onboarding Report</a>
                <a routerLink="/dashboard/offboarding-report">Offboarding Report</a>
                <a routerLink="/dashboard/audit-logs">Audit Logs Report</a>
            </div>
        </div>
    </div>

    <div class="dropdown">
        <a href="#" class="d-flex align-items-center justify-content-between text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <div>
            <i class="fas fa-user-shield me-2"></i>
            <strong>User</strong>
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-primary text-small shadow w-100 p-0 m-0 text-center" aria-labelledby="dropdownUser1">
          <li><p class="dropdown-item p-2 m-0" style="cursor: pointer;" (click)="logout()">Sign out</p></li>
        </ul>
    </div>

</div>

