
    <div class="content">
        <i class="bi bi-arrow-left-short btn btn-outline-dark" (click)="goBack()"></i>
        <h1>School of Nursing and Allied Medical Sciences Employees</h1>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Employment Type</th>
                        <th>Completed Task</th>
                        <th>Pending Task</th>
                        <th>Automated Notification</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Juan T. Pedro</td>
                        <td>Nursing</td>
                        <td>Orientation</td>
                        <td>Contract</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Juan A. Salasar</td>
                        <td>Radiologic Technology</td>
                        <td>Orientation</td>
                        <td>Contract</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>Jepoy D. Dizon</td>
                        <td>Medical Technology</td>
                        <td>Orientation</td>
                        <td>Contract</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>Marie C. Tes</td>
                        <td>PHD in Nursing Education</td>
                        <td>Orientation</td>
                        <td>Contract</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>Kabataan A. Uleym</td>
                        <td>Medical Technology</td>
                        <td>Orientation</td>
                        <td>Contract</td>
                        <td>No</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
