.offboarding-container {
  margin-left: 250px;
  padding: 40px;
}

h4 {
  font-size: 45px;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  padding-bottom: 35px;
}

/* Search Bar */
.search-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.search-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  width: 250px;
}

/* Search Results */
.search-results {
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 250px;
  max-height: 200px;
  overflow-y: auto;
}

.search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results li {
  padding: 8px;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #f1f1f1;
}

.form-container {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

input, select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #800020;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #333;
}
